<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/header.ejs') %>
            <h1 class="mt-5 mx-5">Page introuvable</h1>
            <a href="/" class="mt-5 mx-5">Retourner à la page d'accueil</a>
            <%- include('includes/footer.ejs') %>